{% extends 'base.html' %}

<!-- Title -->
{% block title %} HSystem | Administrator {%endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
<i class="fas fa-hospital-user"></i>&nbsp;&nbsp; Patients
{% endblock navbar-content %}

<!-- Button on navbar -->
{% block nav-btn %}
<a href="{% url 'logout' %}" class="btn btn-outline-danger border-light text-light btn-sm" id="btn-nav">Logout</a>
{% endblock nav-btn %}

<!-- ==================== Page content ==================== -->
{% block content %}
<h1 class="text-center text-success">BAckend Page</h1>
<center>
    <a href="{% url 'add_patient' %}" class="btn btn-dark text-light btn-bg" style="width: 150px;">Add New Patient</a>
</center>
{% endblock content %}